<ul>
    <li>Argumentos de entrada: {{data.processArguments}}</li>
    <li>Nombre de la plataforma: {{data.platform}}</li>
    <li>Versión de Node: {{data.nodeVersion}}</li>
    <li>Memoria total reservada: {{data.memory}}</li>
    <li>Path de ejecución: {{data.execPath}}</li>
    <li>Id del proceso: {{data.id}}</li>
    <li>Carpeta del proyecto: {{data.mainFolder}}</li>
    <li>Cantidad de CPUs: {{data.numberOfCPU}}</li>
</ul>